apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: personas-api
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: personas-api
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scheme: http
  namespaceSelector:
    matchNames:
      - default
